body {
    background-color:  #aeb3cf;
    font-family: 'Mulish', sans-serif;
    margin-left: 250px;
    color: #000;
}

button {
    display: block;
}

h1 {
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 60px;
}



/* CLASS Selectors */
.showChart {
    margin-top: 2px;;
}

/* ID Selectors */

#output {
    color: #152203;
    font-family: 'Mulish', sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}