body {
    background-color: #012207;
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    text-align: center;
    color: beige;
}


nav ul li {
    border: 2px solid #256fdd;
    border-radius: 5px;
    padding: 18px ;
    margin: 10px 400px 10px 400px;
    background-color: #ffffff;
    transition: all 0.8s;
    font-size: 120%;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li:hover {
    background-color: #09e739;
    color: #ffffff;
}

nav ul li a:visited {
    text-decoration: none;
}

.display li {
    display: block;
}

footer {
    text-align: center;
    color: beige;
}
/* Colors */

/*
#E7A295 pink
#33180B brown
#932D1D red
#649DA4 light blue
#E2D6CA beige
#4D7944 dark green
*/